 <div class="row">
 	  <div class="col-md-6 col-md-offset-3">
 	  	<form>
		 	 <h4>Monthly Contribution</h4>
		 	<div class="form-group">
		    <input type="text" class= "form-control input-lg", placeholder = "$">
		  </div><br/>
		  <h4>Enter Your Wishes (Amazon URLs)</h4>
		 <div class="form-group">
		    <input type="text" class= "form-control input-lg", placeholder = "Wish 1">
		  </div>
		  <div class="form-group">
		    <input type="text" class= "form-control input-lg", placeholder = "Wish 2">
		  </div>
		   <div class="form-group">
		    <input type="text" class= "form-control input-lg", placeholder = "Wish 3">
		  </div>
		 <p align="center"><%= link_to "Sign Up", charges_new_path, class: "btn btn-lg btn-success" %></p>
		</form>
	</div>
</div>