<!DOCTYPE html>
<html>
<head>
  <title>StripeExample</title>

<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
	<div align="center">
		<header><i class="glyphicon glyphicon-gift"></i> Treat Yo'self
		</header>
<div class="container">
	<%= yield %>
</div>

</body>
</html>
